.centered.ui-panelgrid-cell {
    text-align: center !important;
}

.right.ui-panelgrid-cell {
    text-align: right !important;
}

.ui-panelgrid tr, .ui-panelgrid td {
    font-size: small;
    font-weight: bold;
  /*  border: 1px solid black! important;*/
  /*  border: none !important; */
}

.ui-datagrid-data td {
    width: 25%! important;
   }

.ui-menubutton button {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
    border: none !important;
    height: 40px;
}

.ui-button-text {
    color: white;
    text-shadow: none ! important;
    padding-right: 5px;
    font-weight: normal;
}

.ui-button-text:hover {
    color: orange !important;
}

.ui-accordion {
    border: none !important;
    width: 1605px;
    margin: 0 auto !important;
}

.ui-accordion-header {
    border: none !important;
    background: orange !important;
    color: black !important;
    text-decoration: underline !important;
}

.ui-accordion-content {
    /*background: orange !important;*/
}

.ui-accordion-content input {
    width: 300px;
    height: 30px;
    border-color: black !important;
    box-shadow: none !important;
    border-radius: 0;
}

.ui-accordion-content button {
    height: 40px;
    background: black !important;
    border-radius: 0;
    box-shadow: none !important;
    border-color: orange !important;
}

.ui-icon.ui-icon-triangle-1-e {
    margin-left: 1570px;;
}

.ui-icon.ui-icon-triangle-1-s {
    margin-left: 1570px;;
}

/*-----------------------------------------------------------*/

.ui-datagrid-header {
    background: orange;
    color: black;
}


.ui-paginator-bottom {
    background: orange;
    color: black;
}

.ui-paginator-page {
    background: black !important;
}

.ui-panelgrid-cell button {
    background: black !important;
    box-shadow: none !important;
    border-radius: 0;
    
}

.orange {
    color: orange;
}

/*------------------Dialog CSS----------------*/

.ui-dialog {
    position: absolute !important;
}

.ui-dialog .ui-dialog-content {
    overflow-x: hidden !important; 
   
    
}

.ui-panel-titlebar{
    background: orange! important;
    border: 2px solid orange;
    color: black! important;
    font-weight: normal;
}

