.findbutton.ui-button.ui-state-default {
    background: #e4a900;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    width: 60px;
    align-content: center !important;

}

.placeInput {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    height: 50px;
    width: 210px;
    font-weight: bold !important;
}



/*.ui-inputgroup button {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    border-left: none !important;
    height: 60px;
    width: 60px;
    align-content: center !important;
}

.ui-icon-location {
    background-image: url('icons/location.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 15px !important;
    margin-left: 0 !important;
    top: 15px !important;
    margin-top: 0 !important;
} */

.ui-icon-find {
    background-image: url('icons/find.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 15px !important;
    margin-left: 0 !important;
    top: 15px !important;
    margin-top: 0 !important;
}

/*.ui-icon-menu {
    background: orange;
    background-image: url('icons/menu2.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 6px !important;
    margin-left: 0 !important;
    top: 6px !important;
    margin-top: 0 !important;
}

.ui-icon-language {
    background: orange;
    background-image: url('icons/language.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 6px !important;
    margin-left: 0 !important;
    top: 6px !important;
    margin-top: 0 !important;
} */

.ui-panelgrid {
   height: 100px;
   width: 1100px;
   margin: 40px auto;
}

.centered.ui-panelgrid-cell {
    text-align: center !important;
}

.main-panel {
    height: 490px;
    width: 1600px;
    background-image: url('img/main.jpg');
    margin: 0 auto;
    border: 0;
    border-radius: 0;
}

.ui-calendar input {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    height: 50px;
    width: 210px;
    font-weight: bold !important;
}

/*.ui-calendar button {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    border-left: none !important;
    height: 60px;
    width: 60px;
    align-content: center !important;

}

.ui-icon-calendar {
    background-image: url('icons/calendar.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 15px !important;
    margin-left: 0 !important;
    top: 15px !important;
    margin-top: 0 !important;
} */

.ui-datepicker {
    
    box-shadow: none !important;
}

.ui-datepicker-header {
    background: orange !important;
}



.ui-panelgrid tr, .ui-panelgrid td {
    font-size: small;
    font-weight: bold;
    border: none !important;
}

/*--------------Language select menu-----------------*/

.localeSelector {
    width: 50px !important;
    border-radius: 0;
    box-shadow: none !important;
    background-color: white !important;
    border: 1px solid black !important;
}

.localeSelector:hover {
    background-color: white !important;
    box-shadow: none !important;
}

.localeSelector .ui-selectonemenu-label {
    border-radius: 0! important;
    box-shadow: none !important;
 
}

.localeSelector .ui-selectonemenu-label:hover {
    box-shadow: none !important;
    border: none !important;
    
}

.localeSelector .ui-selectonemenu-trigger {
    background: orange !important;
    box-shadow: none !important;
    border-radius: 0! important;
}

.localeSelector .ui-selectonemenu-trigger:hover {
    box-shadow: none !important;
    
}

.localeSelector .ui-selectonemenu-trigger:focus {
    box-shadow: none !important;
}

.ui-selectonemenu-panel {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid black;
}

.ui-selectonemenu-item {
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
    border-radius: 0;
}

.ui-selectonemenu-item:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
    color: black;
}

.ui-state-highlight{
    background: white !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important;
}

/*-----------------------------------------------------*/

.slideMenu {
    background: white !important;
    border-color: black !important;
    border-radius: 0;
    box-shadow: none !important;
}

.ui-menuitem {
    background: white !important;
}

.ui-menuitem:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
}

.ui-menuitem-text {
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
}

.ui-menuitem-link:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
}

.ui-icon.ui-icon-triangle-1-e {
    margin-left: 0px !important;
}

.ui-slidemenu-backward {
    border-radius: 0;
    background: transparent !important;
    border: none;
    font-weight: normal;
    font-size: 14px;
} 

.myImage{
    width: 500px;
    height: 350px;
}

img:hover {
    background: orange;
}

.ui-accordion {
    border: none !important;
    width: 1605px;
    margin: 0 auto !important;
}

.ui-accordion-header {
    border: none !important;
    background: orange !important;
    color: black !important;
    text-decoration: underline !important;
}

.ui-accordion-content {
    background: orange !important;
}

.ui-accordion-content input {
    width: 300px;
    height: 30px;
    border-color: black !important;
    box-shadow: none !important;
    border-radius: 0;
}

.ui-accordion-content button {
    height: 40px;
    background: black !important;
    border-radius: 0;
    box-shadow: none !important;
    border-color: orange !important;
}

.ui-icon.ui-icon-triangle-1-s {
    margin-left: 1570px;;
}
/*-----------------------------------------------*/
.headerPanel{
    height: 100px; 
    width: 1600px; 
    margin: 0 auto; 
    border: 0;
    border-radius: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerToolbar{
    width: 1090px; 
    background: transparent;
    border: none;
}

.headerToolbar .ui-toolbar-group-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    padding-right: 5px;
 }

.loginButton {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
    border: none ! important;
    height: 40px;
    margin-right: 50px !important;
 }
 
 .loginButton:focus {
    outline: 0 !important;
 }

.menuButton {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
    border: none ! important;
    height: 40px;
    margin-right: 50px !important;
}

.menuButton:focus {
    outline: 0 !important;
 }

.headerToolbar .ui-toolbar-group-left .ui-outputlabel{
    font-size: 65px;
    color: white;
}

.ui-button-text:hover {
    color: orange !important;
 }
 
 .ui-button-text {
    color: white ! important;
    text-shadow: none ! important;
    padding-right: 5px;
    font-weight: normal;
}

/*----------------------------------------------*/
.selectPanel{
    height: 200px;
    width: 1600px;
    margin: 0 auto;
    border: 0;
    border-radius: 0;
}


/*-----------------------------------------------*/
.footerPanel{
    height: 80px; 
    width: 1600px; 
    margin: 0 auto; 
    border: 0;
    border-radius: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerToolbar {
    height: 40px; 
    width: 1090px; 
    background: transparent;
    border: none;
}

.footerToolbar .ui-toolbar-group-left {
    margin-top: 9.5px;
 }

.footerToolbar .ui-toolbar-group-right {
    height: 32px;
    margin-top: 3px;
 }

.footerToolbar a {
    color: white !important;
    text-shadow: none !important;
    font-size: small !important;
    font-weight: normal !important;
    padding-right: 15px;
    text-decoration: none;
}

.footerToolbar a:hover {
    text-decoration: underline;
}

/*-----------------------------------------*/
.picturePanel{
    height: 400px;
    width: 1600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picturePanel .ui-panel-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}


.blackPanel{
    height: 400px;
    width: 1600px;
    margin: 0 auto;
    background-color: #1C1C1C;
    border: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picturePanel1{
    background-image: url('img/monte1.jpg');
    border-radius: 0;
    padding: 0px! important;
    height: 343px;
    width: 400px;
}

.picturePanel2{
    background-image: url('img/monte2.jpg');
    border-radius: 0;
    padding: 0px! important;
    height: 343px;
    width: 400px;
}

.picturePanel3{
    background-image: url('img/monte3.jpg');
    border-radius: 0;
    padding: 0px! important;
    height: 343px;
    width: 400px;
}

.picturePanel4{
    background-image: url('img/monte4.jpg');
    border-radius: 0;
    padding: 0px! important;
    height: 343px;
    width: 400px;
}

.ui-panelgrid a {
    color: white !important;
    text-shadow: none !important;
    font-size: small !important;
    font-weight: bold !important;
    padding-right: 15px;
    text-decoration: none;
}

.ui-panelgrid a:hover {
    text-decoration: underline;
}

.ui-autocomplete input {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    height: 50px;
    width: 210px;
    font-weight: bold !important;
}

.ui-autocomplete-panel {
    border-radius: 0;
    box-shadow: none! important;
    
}

.ui-autocomplete-item {
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
    border-radius: 0;
}

.ui-autocomplete-item:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
}

