.findbutton.ui-button.ui-state-default {
    background: #e4a900;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    width: 60px;
    align-content: center !important;

}

.login.ui-button {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
    border: none ! important;
    height: 40px;
    margin-top: 17px;
    
    
}

.menu.ui-button {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
    border: none ! important;
    margin-right: 100px;
    height: 40px;
    
}

.ui-inputgroup input {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-right: none !important;
    border-radius: 0;
    height: 50px;
    width: 150px;
    font-weight: bold !important;
}

.ui-inputgroup button {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    border-left: none !important;
    height: 60px;
    width: 60px;
    align-content: center !important;
}

.ui-icon-location {
    background-image: url('icons/location.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 15px !important;
    margin-left: 0 !important;
    top: 15px !important;
    margin-top: 0 !important;
}

.ui-icon-find {
    background-image: url('icons/find.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 15px !important;
    margin-left: 0 !important;
    top: 15px !important;
    margin-top: 0 !important;
}

.ui-icon-menu {
    background: orange;
    background-image: url('icons/menu2.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 6px !important;
    margin-left: 0 !important;
    top: 6px !important;
    margin-top: 0 !important;
}

.ui-icon-language {
    background: orange;
    background-image: url('icons/language.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 6px !important;
    margin-left: 0 !important;
    top: 6px !important;
    margin-top: 0 !important;
}

.ui-panelgrid {
   height: 100px;
   width: 1100px;
   margin: 40px auto;
}

.centered.ui-panelgrid-cell {
    text-align: center !important;
}

.main-panel {
    height: 490px;
    width: 1600px;
    background-image: url('img/main.jpg');
    margin: 0 auto;
    border: 0;
}

.ui-calendar input {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-right: none !important;
    border-radius: 0;
    height: 50px;
    width: 150px;
}

.ui-calendar button {
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-radius: 0;
    border-left: none !important;
    height: 60px;
    width: 60px;
    align-content: center !important;

}

.ui-icon-calendar {
    background-image: url('icons/calendar.png') !important;
    background-position: center center;
    height: 26px;
    width: 26px;
    left: 15px !important;
    margin-left: 0 !important;
    top: 15px !important;
    margin-top: 0 !important;
}

.ui-datepicker {
    background: #1b201a !important;
    box-shadow: none !important;
}

.ui-datepicker-header {
    background: orange !important;
}



.ui-panelgrid tr, .ui-panelgrid td {
    font-size: small;
    font-weight: bold;
    border: none !important;
}


/*---------------------Toolbar CSS------------*/

.ui-toolbar {
    height: 74px;
    width: 70%;
    margin: 0 auto;
    border-radius: 0 !important;
    background: transparent !important;
    border-color: white !important;
    
}

.centered.ui-toolbar {
    height: 60px;
    width: 70%;
    background: black !important;
}

.ui-menubutton button {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
    border: none !important;
    height: 40px;
}
/*--------------Language select menu-----------------*/
.ui-selectonemenu {
    width: 70px !important;
    border-radius: 0;
    box-shadow: none;
    margin-top: 20px;
}

.ui-selectonemenu:hover {
    box-shadow: none !important;
}

.ui-selectonemenu-label {
    border-radius: 0! important;
    box-shadow: none;
    border: none !important;
}

.ui-selectonemenu-trigger {
    background: orange !important;
}

.ui-selectonemenu-panel {
    border-radius: 0;
    box-shadow: none !important;
    border-color: black !important;
}

.ui-selectonemenu-item {
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
    background: transparent !important;
}

.ui-selectonemenu-item:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
    color: black;
}



.ui-selectonemenu-item.ui-state-highlight {
    color: black !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

/*-----------------------------------------------------*/

.ui-button-text {
    color: white ! important;
    text-shadow: none ! important;
    padding-right: 5px;
    font-weight: normal;
}

.ui-button-text:hover {
    color: orange !important;
}

.firstmenubutton.ui-menubutton {
    margin-top: 17px;
 
}

.ui-menu {
    background: white !important;
    border-color: black !important;
    border-radius: 0;
    box-shadow: none !important;
}

.ui-menuitem {
    background: white !important;
}

.ui-menuitem:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
}

.ui-menuitem-text {
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
}

.ui-menuitem-link:hover {
    background: #abb49b !important;
    border-radius: 0;
    box-shadow: none;
}

.ui-slidemenu-backward {
    border-radius: 0;
    background: transparent !important;
    border: none;
    font-weight: normal;
    font-size: 14px;
}

a {
    color: white !important;
    text-shadow: none !important;
    font-size: small !important;
    font-weight: normal !important;
    padding-right: 15px;
    text-decoration: none;
    padding-top: 17px;
        
}

a:hover {
    font-weight: bold !important;
    
}

img:hover {
    background: orange;
}

.downgroup.ui-toolbar-group-left {
    margin-top: 25px;
    margin-left: 17px;
}

.downgroup.ui-toolbar-group-right {
    margin-top: 40px;
    margin-right: 17px;
}

.ui-accordion {
    border: none !important;
    width: 1605px;
    margin: 0 auto !important;
}

.ui-accordion-header {
    border: none !important;
    background: orange !important;
    color: black !important;
    text-decoration: underline !important;
}

.ui-accordion-content {
    background: orange !important;
}

.ui-accordion-content input {
    width: 300px;
    height: 30px;
    border-color: black !important;
    box-shadow: none !important;
    border-radius: 0;
}

.ui-accordion-content button {
    height: 40px;
    background: black !important;
    border-radius: 0;
    box-shadow: none !important;
    border-color: orange !important;
}

.ui-icon.ui-icon-triangle-1-e {
    margin-left: 1570px;;
}

.ui-icon.ui-icon-triangle-1-s {
    margin-left: 1570px;;
}


@media screen and (max-width: 420px){
    
}



